* {
  padding: 0;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray;
  }
}

@keyframes add-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.add-to-cart-animation {
  animation: add-animation 0.2s ease-out;
}

@keyframes badge-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.badge-animation {
  animation: badge-animation 0.2s ease-out;
}
