@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray;
  }
}

@keyframes add-transition {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.add-to-cart-animation {
  animation: add-transition 0.2s ease-out;
}

@keyframes badge-transition {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.badge-animation {
  animation: badge-transition 0.2s ease-out;
}
